<!DOCTYPE html>
<html lang="en">

    <%- include('./partitials/header.partitial.ejs') %>

<body>
    
    <%- include('./partitials/nav.partitial.ejs') %>

    <div class="wrapper content_1">
        <div class="main-body">
            <div class="content">
                <h1 class="title">My name's <span>Ollie Wells</span>.</h1>
                <p class="text">And I love making websites. Since I got my first laptop I've been passionate about coding and always been practicing and learning new things. And now, I'm offering my skills to small bussinesses in need of a website to help their brand grow and make their bussiness successful.</p>
                <div class="buttons">
                    <a href="/portfolio"><button class="btn-main">My Portfolio</button></a>
                    <a href="/contact"><button class="btn-secondary">Contact Me</button></a>
                </div>
            </div>
            <div class="image">
                <img src="/images/building-websites.svg">
            </div>
        </div>
    </div>

    <%- include('./partitials/footer.partitial.ejs') %>

</body>
</html>