<!DOCTYPE html>
<html lang="en">

    <%- include('./partitials/header.partitial.ejs') %>

<body>
    
    <%- include('./partitials/nav.partitial.ejs') %>

    <div class="wrapper content_1">
        <div class="main-body">
            <div class="content">
                <h1 class="title">Find the per<wbr>fect <span>web<wbr>site</span> for your bussiness.</h1>
                <p class="text">Get the perfect website for your bussiness easily and without any hassle.
                    Choose a design style you like, sit back, relax and watch your wonderful website come to life.</p>
                <div class="buttons">
                    <a href="/portfolio"><button class="btn-main">My Portfolio</button></a>
                    <a href="/contact"><button class="btn-secondary">Contact Me</button></a>
                </div>
            </div>
            <div class="image">
                <img src="/images/building-websites.svg">
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="wrapper content_2">
        <div class="header">
            <h1 class="title">How I Can Help</h1>
            <div class="hl"></div>
        </div>

        <div class="main-body">
            <div class="content">
                <div class="columns">
                    <ul class="service">
                        <li class="header">Web Design</li>
                        <li class="important small">I will build your website to attract new customers.</li>
                        <li>First impressions matter, and that's why your website should look the best it can.</li>
                        <li class="highlight">Web Design</li>
                        <li class="highlight">Web Development</li>
                        <li class="important"><a href="/services"><button class="button">Get a Quote</button></a></li>
                    </ul>
                </div>

                <div class="columns">
                    <ul class="service">
                        <li class="header">Web Management</li>
                        <li class="important">I will manage your websites hosting and maintain it for aslong as you need.</li>
                        <li>Something should probably go here but I cant think of what to put here right now.</li>
                        <li class="highlight">Web Management</li>
                        <li class="highlight">Web Maintenance</li>
                        <li class="important"><a href="/services"><button class="button">Get a Quote</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="wrapper content_3">
      <div class="header">
          <h1 class="title">Recent Work</h1>
          <div class="hl"></div>
      </div>
      <section>
  
          <div class="swiper mySwiper container">
            <div class="swiper-wrapper content">
      
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card">
                <div class="card-content">
                  <div class="image">
                    <img src="https://picsum.photos/1920/1080" alt="">
                  </div>
      
                  <div class="name-profession">
                    <span class="name">Some Project</span>
                    <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                  </div>
      
                  <div class="button">
                    <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                    <a href="javascript:window.open('www.stite-name.co.uk');"><button class="hireMe">Visit Site</button></a>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
      
          <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </section>
  </div>

    <div class="spacer"></div>

    <div class="wrapper content_4">
        <div class="header">
            <h1 class="title">Contact Me</h1>
            <div class="hl"></div>
        </div>
        <div class="main-body">
            <form action="/contact" method="post">
                <h3>What are you looking for?</h3>

                <div class="services">
                    <input type="checkbox" id="service1" name="service" value="Web Design">
                    <label for="service1">Web Design</label>
                    <br>
                    <input type="checkbox" id="service2" name="service" value="Web Management">
                    <label for="service2">Web Management</label>
                </div>
                <br>
                <div class="text-info">
                    <input type="text" id="fullName" name="fullName" placeholder="Full Name *" required>
                    <br>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number *" required>
                    <br>
                    <input type="text" id="emailAddress" name="emailAddress" placeholder="Email Address *" required>
                    <br>
                    <select name="referer" id="referer" required>
                        <option value="">Where did you hear about me?</option>
                        <option value="google">Google</option>
                        <option value="socialMedia">Social Media</option>
                        <option value="friend">Friend/Family</option>
                        <option value="other">Other</option>
                    </select>
                    <br>
                    <textarea name="projectDescription" id="projectDescription" placeholder="Describe your project *" required></textarea>
                </div>
                <br>
                <ul class="budgets">
                    <li>
                        <input type="radio" id="budget1" name="budget" value="£50-£250">
                        <label for="budget1">£50-£250</label>
                    </li>
                    <br>
                    <li>
                        <input type="radio" id="budget2" name="budget" value="£250-£500">
                        <label for="budget2">£250-£500</label>
                    </li>
                    <br>
                    <li>
                        <input type="radio" id="budget3" name="budget" value="£500-£1000">
                        <label for="budget3">£500-£1000</label>
                    </li>
                    <br>
                    <li>
                        <input type="radio" id="budget4" name="budget" value="£1000+">
                        <label for="budget4">£1000+</label>
                    </li>
                </ul>
                <div class="submit-btn">
                    <input type="submit" value="Send Request >">
                </div>
            </form>
        </div>
    </div>

    <%- include('./partitials/footer.partitial.ejs') %>

    <script src="/js/home.js"></script>

</body>
</html>