<!DOCTYPE html>
<html lang="en">

    <%- include('./partitials/header.partitial.ejs') %>

<body>
    
    <%- include('./partitials/nav.partitial.ejs') %>

    <div class="wrapper content_3">
        <div class="header">
            <h1 class="title">Recent Work</h1>
            <div class="hl"></div>
        </div>
        <section>
    
            <div class="swiper mySwiper container">
              <div class="swiper-wrapper content">
        
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="https://picsum.photos/1920/1080" alt="">
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Some Project</span>
                      <span class="profession">Lorem ispum dolor sit amet consectur ascrib testem.</span>
                    </div>
        
                    <div class="button">
                      <a href="/blog/projectName"><button class="aboutMe">About Project</button></a>
                      <a href="javascript:window.open('www.stite-name.co.uk');"></a><button class="hireMe">Visit Site</button>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
        
            <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
          </section>
    </div>

    <%- include('./partitials/footer.partitial.ejs') %>

    <script src="/js/home.js"></script>

</body>
</html>