<!DOCTYPE html>
<html lang="en">

    <%- include('./partitials/header.partitial.ejs') %>

<body>
    
    <%- include('./partitials/nav.partitial.ejs') %>

    <div class="wrapper content_2">
        <div class="header">
            <h1 class="title">How I Can Help</h1>
            <div class="hl"></div>
        </div>
    
        <div class="main-body">
            <div class="content">
                <div class="columns">
                    <ul class="service">
                        <li class="header">Web Design</li>
                        <li class="important small">I will build your website to attract new customers.</li>
                        <li>First impressions matter, and that's why your website should look the best it can.</li>
                        <li class="highlight">Web Design</li>
                        <li class="highlight">Web Development</li>
                        <li class="important"><a href="/contact"><button class="button">Get a Quote</button></a></li>
                    </ul>
                </div>
    
                <div class="columns">
                    <ul class="service">
                        <li class="header">Web Management</li>
                        <li class="important">I will manage your websites hosting and maintain it for aslong as you need.</li>
                        <li>Something should probably go here but I cant think of what to put here right now.</li>
                        <li class="highlight">Web Management</li>
                        <li class="highlight">Web Maintenance</li>
                        <li class="important"><a href="/contact"><button class="button">Get a Quote</button></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="spacer"></div>

    <div class="wrapper content_5">
        <div class="header">
            <h1 class="title">Price Quoter</h1>
            <div class="hl"></div>
        </div>

        <div class="content">
            <form action="/services/calculate" method="post">
                <label for="pagesAmt">
                    How many <span>'Parent'

                        <span class="tooltiptext">
                            <strong>What are Parent pages?</strong><br>
                            Imagine a big cardboard box... Inside that box is a stack of paper, the big box is the parent page, and the stack of paper inside are the sub pages. Typically sub pages are created by you, for example: A 'Shop' page containing products, each product is a sub page.
                        </span>

                    </span> pages would you like?
                </label><br>
                <input type="number" name="pagesAmt" id="pagesAmt" value="4" required>
                <div class="tip">
                    <strong>Pro tip:</strong><br>
                    I recommend the standard 4 pages; Home, About, Products, Contact, these parent pages are considered the starting point of your website, prices may change depending on your authorship requirements.
                </div>

                <br><br>

                <label for="backend">
                    Will you require a <span>'Backend'

                        <span class="tooltiptext">
                            <strong>What is a backend?</strong><br>
                            A backend is the part of the website that is not accessed by a user, responsible for storing and managing the data.
                        </span>

                    </span> for your website?
                </label><br>

                <div class="backend-options options">
                    <span id="backend1">
                    <input type="radio" name="backend" id="maintainance1" value="true" required>
                    <label for="backend1">Yes</label>
                    </span>
                    <span id="backend2">
                        <input type="radio" name="backend" id="maintainance2" value="false" required>
                        <label for="backend2">No</label>
                    </span>
                </div>

                <div class="tip">
                    <strong>Pro tip:</strong><br>
                    I recommend a backend for sites which contain a blog or product listings page aswell as sending email via the website. Please note that I do not deal with managing the purchasing of items, only listing them.
                </div>
                <br><br>
                <label>
                    Do you want to work with me to maintain your website and keep it updated regularly?
                </label><br>

                <div class="maintainance-options options">
                    <span id="maintainance1">
                    <input type="radio" name="maintainance" id="maintainance1" value="true" required>
                    <label for="maintainance1">Yes</label>
                    </span>
                    <span id="maintainance2">
                        <input type="radio" name="maintainance" id="maintainance2" value="false" required>
                        <label for="maintainance2">No</label>
                    </span>
                </div>

                <br><br>
                
                <label>
                    Do you want me to manage and setup the hosting services? (Monthly payment to cover costs and time.)
                </label><br>
                <div class="hosting-options options">
                    <span id="hosting1">
                    <input type="radio" name="hosting" id="hosting1" value="true" required>
                    <label for="hosting1">Yes</label>
                    </span>
                    <span id="hosting2">
                        <input type="radio" name="hosting" id="hosting2" value="false" required>
                        <label for="hosting2">No</label>
                    </span>
                </div>
                <div class="submit-btn">
                    <input type="submit" id="submit-btn" value="Get Quote">
                </div>
            </form>
        </div>
    </div> -->

    <%- include('./partitials/footer.partitial.ejs') %>

</body>
</html>